* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card,
.user {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  display: block;
}

/* .container {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
} */

.container,
.users {
  padding: 20px;
  margin-top: auto;
  display: grid;
  gap: 20px;
  /* grid-template-columns: repeat(3, 100px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

h1,
button {
  margin-left: 20px;
}

.extra {
  display: none;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}